CATALOG_DB_NAME=filmoteka_catalog
CATALOG_DB_USERNAME=filmoteka_catalog
CATALOG_DB_PASSWORD=filmoteka_catalog

USER_DB_NAME=filmoteka_user
USER_DB_USERNAME=filmoteka_user
USER_DB_PASSWORD=filmoteka_user

KEYCLOAK_DB_NAME=filmoteka_keycloak
KEYCLOAK_DB_USERNAME=filmoteka_keycloak
KEYCLOAK_DB_PASSWORD=filmoteka_keycloak

KEYCLOAK_ADMIN_USERNAME=admin
KEYCLOAK_ADMIN_PASSWORD=admin

CATALOG_DB_PORT=5432
USER_DB_PORT=5433

CATALOG_PORT=8080
MEDIA_PORT=8081
USER_PORT=8082
UI_PORT=5173
KEYCLOAK_PORT=8180

VITE_CATALOG_API_URL=http://localhost:8080/api/v1
VITE_MEDIA_API_URL=http://localhost:8081/api/v1

CATALOG_API_URL=http://catalog:8080/api/v1

CORS_ALLOWED_ORIGINS=http://localhost:5173

AUTH_ISSUER_URI=http://localhost:8180/realms/filmoteka
AUTH_JWK_SET_URI=http://keycloak:8080/realms/filmoteka/protocol/openid-connect/certs
AUTH_AUDIENCE=filmoteka-api

SMTP_USERNAME=smptuser@gmail.com
SMTP_PASSWORD=smptpass
GOOGLE_CLIENT_ID=client.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=secret